@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background: url('images/background-small.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  background-color: black;
  font-family: Arial, Verdana;
  height: 100vh;
}
body {
  display: grid;
  grid-template-rows: auto auto;
  align-content: space-between;
}

header {
  background-color: rgba(0, 0, 0, 0.6);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 75%, transparent);
  padding: 1em 2em 4em;

  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
@media (prefers-reduced-transparency: reduce) {
  header {
    background: darkslategray;
    padding: 1em 2em;
  }
}

h1 {
  font-family: "Playwrite US Trad", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}


/* Transition animations for details on h1 and footer */
.fly-in-wrapper {
  overflow: hidden;
}
.fly-in-item-top,
.fly-in-item-left {
  opacity: 0;
  transition: transform 1s, opacity 1s;
}
.fly-in-item-top {
  transform: translateY(-100%);
}
.fly-in-item-left {
  transform: translateX(-100%);
}

.fly-in-trigger:is(:hover, :focus) + .fly-in-wrapper .fly-in-item-top,
.fly-in-item-top:is(:hover, :focus)
{
  opacity: 1;
  transform: translateY(0);
}
.fly-in-trigger:is(:hover, :focus) + .fly-in-wrapper .fly-in-item-left,
.fly-in-item-left:is(:hover, :focus) {
  opacity: 1;
  transform: translateX(0);
}

@media (prefers-reduced-motion: reduce) {
  /* Just hide and show instead of animating */
  .fly-in-item-top,
  .fly-in-item-left {
    transform: none;
    transition: none;
  }
  .fly-in-trigger:is(:hover, :focus) + .fly-in-wrapper :is(.fly-in-item-top, .fly-in-item-left),
  :is(.fly-in-item-top, .fly-in-item-left):is(:hover, :focus) {
    opacity: 1;
  }
}


.details {
  margin-left: 2em;
}
.details ul {
  margin: 0;
  width: fit-content;
  list-style: none;
  /* take it out of the normal document flow so the header doesn't stretch and make the fade look weird */
  position: absolute;
}
.details li {
  margin: 0.5em 1em;
}

.description-box {
  font-size: 1rem;
  background: rgb(48, 48, 48);
  padding: .75em;
  border-radius: .5em;
  color: white;
  border: 1px white solid;
}

.social-links {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 2em;
}
.social-links li {
  display: inline-block;
  padding: 0 0.25em;
}
.social-links a {
  color: white;
}

.tooltip {
  display: none;
  position: absolute;
  justify-self: anchor-center;
  top: calc(anchor(bottom) + .25em);
}
.tooltip-anchor:hover > .tooltip,
.tooltip-anchor a:focus + .tooltip {
  display: initial;
}

footer {
  padding: 1em;
  /* text-align: center; */
}
footer figure {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: end;
  gap: 1em;
}
.avatar {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  max-width: calc(100vw - 3em);
  max-height: calc(100vw - 3em);
  border: 2px white solid;
  object-fit: cover;
}

@media (prefers-color-scheme: light) {
  html, body {
    background-color: white;
    color: black;
  }
  header {
    background-color: rgba(255, 255, 255, 0.6);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 75%, transparent);
  }
  .social-links a {
    color: black;
  }
  .description-box {
    border-color: gray;
    background: white;
    color: black;
  }
}

@media (min-width: 768px) { 
  html, body {
    background-image: url('images/background-medium.jpg');
  }
  header {
    grid-template-columns: 1fr 1fr;
    justify-items: start;
  }
  .social-links {
    justify-self: end;
    margin: 1em 0;
  }
  .tooltip {
    justify-self: auto;
    right: anchor(right);
    top: calc(anchor(bottom) + .25em);
  }
  /* footer {
    text-align: left;
  } */
}

@media (min-width: 992px) { 
  html, body {
      background-image: url('images/background-large.jpg');
  }
}